snippet publictest "/** @test ... public function"
/** @test */
public function ${1}() {
	${0:${VISUAL}}
}
endsnippet

snippet link "<a href=<?=..."
<a href="<?= action('${1}', '${2}') ?>">${0}</a>
endsnippet

snippet phpecho "<?=..."
<?=	${1} ?>
endsnippet

snippet action "<?= action..."
<?= action('${1}', '${2}') ?>
endsnippet

snippet olc "/** */"
/** ${1} */
endsnippet

snippet mlc "/** ..." b
/** ${1}
 */
endsnippet
