shopt -s expand_aliases

alias bd='. bd -si'

# app shortcut
alias e='nvim'
alias dock='docker'
alias docke='dock exec'
alias dockr='dock run'
alias docki='dock images'
alias doco='docker-compose'
alias docoe='doco exec'

# change directory
alias projects='cd $PROJECTS' 
alias dotfiles='cd $DOTFILES' 
alias scripts='cd $PROJECTS/scripts' 

# edit
alias einitnvim='e $DOTFILES/nvim/init.vim'
alias emybashrc='e $DOTFILES/bash/.my.bashrc'
alias ealiases='e $DOTFILES/bash/.aliases'
alias reload='source ~/.my.bashrc'

alias oldrek='cd $PROJECTS/KementerianPUPR/old.erekomtek.web.dev/src'

# php
alias phpunit='./vendor/bin/phpunit'
